/*
 * author: lixinjie
 * date: 20170501
  * Ã¤Â¿Â®Ã¦â€Â¹Ã¦Â Â·Ã¥Â¼ÂÃ¦â€”Â¶Ã¯Â¼Å’Ã¨Â¯Â·Ã¤Â¿Â®Ã¦â€Â¹Ã¥Â¯Â¹Ã¥Âºâ€less
 * */

@charset "utf-8";

/* Ã¨Â®Â© IE Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¥Â¯Â¹Ã¤Â¸ÂÃ¨Â¯â€ Ã¥Ë†Â«Ã§Å¡â€ž html5 Ã¥â€¦Æ’Ã§Â´Â Ã¥Â°â€ Ã¥â€¦Â¶Ã¥Â½â€œÃ¥ÂÅ¡Ã¥Ââ€”Ã¥â€¦Æ’Ã§Â´Â Ã¥Â¤â€žÃ§Ââ€ */

details,
main,
summary {
    display: block;
}

//Ã¨Â®Â¾Ã§Â½Â®Ã¦â€°â‚¬Ã¦Å“â€°Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã¥Â¤â€“Ã¨Â¾Â¹Ã¨Â·ÂÃ¤Â¸ÂÃ¤Â¸ÂºÃ©â€ºÂ¶Ã§Å¡â€žÃ¥â€¦Æ’Ã§Â´Â Ã§Å¡â€žÃ¥Â¤â€“Ã¨Â¾Â¹Ã¨Â·ÂÃ¤Â¸ÂºÃ©â€ºÂ¶
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
blockquote,
pre,
textarea,
fieldset,
figure,
ul,
ol,
dl,
dd,
menu {
    margin: 0;
}

//Ã¨Â®Â¾Ã§Â½Â®Ã¦â€°â‚¬Ã¦Å“â€°Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã¥â€ â€¦Ã¥Â¡Â«Ã¥â€¦â€¦Ã¤Â¸ÂÃ¤Â¸ÂºÃ©â€ºÂ¶Ã§Å¡â€žÃ¥â€¦Æ’Ã§Â´Â Ã§Å¡â€žÃ¥â€ â€¦Ã¥Â¡Â«Ã¥â€¦â€¦Ã¤Â¸ÂºÃ©â€ºÂ¶
input,
textarea,
button,
select,
option,
fieldset,
legend,
ul,
ol,
menu,
th,
td {
    padding: 0;
}

//Ã¨Â®Â¾Ã§Â½Â®Ã¦â€°â‚¬Ã¦Å“â€°Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã¨Â¾Â¹Ã¦Â¡â€ Ã¤Â¸ÂÃ¤Â¸ÂºÃ©â€ºÂ¶Ã§Å¡â€žÃ¥â€¦Æ’Ã§Â´Â Ã§Å¡â€žÃ¨Â¾Â¹Ã¦Â¡â€ Ã¤Â¸ÂºÃ©â€ºÂ¶
hr,
progress,
input,
textarea,
button,
select,
fieldset {
    border: 0;
}

//Ã¨Â®Â¾Ã§Â½Â®Ã¦â€°â‚¬Ã¦Å“â€°Ã¥â€¦Æ’Ã§Â´Â Ã§Å¡â€žÃ§â€ºâ€™Ã¦Â¨Â¡Ã¥Å¾â€¹Ã¯Â¼Å’Ã¥Â°â€ Ã¥â€ â€¦Ã¥Â¡Â«Ã¥â€¦â€¦Ã¥â€™Å’Ã¨Â¾Â¹Ã¨Â·ÂÃ§Â®â€”Ã¥Å“Â¨Ã¥Â®Â½Ã¦Ë†â€“Ã©Â«ËœÃ¤Â¹â€¹Ã¥Ë†â€” 
* {
    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}


/*===Ã¥Â¼â€¢Ã¥â€¦Â¥normalize.cssÃ§Å¡â€žÃ¦Â Â·Ã¥Â¼Â===*/

//Ã¥Å“Â¨ IEÃ¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨ Ã¥â€™Å’ iOS Ã¨Â®Â¾Ã¥Â¤â€¡Ã§Å¡â€žÃ¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã©ËœÂ»Ã¦Â­Â¢Ã¨Â°Æ’Ã¦â€¢Â´Ã¥Â­â€”Ã¤Â½â€œÃ§Å¡â€žÃ¥Â°ÂºÃ¥Â¯Â¸ 
html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

//Ã¤Â¸Âº body Ã¥â€¦Æ’Ã§Â´Â Ã¨Â®Â¾Ã§Â½Â®Ã¥Â­â€”Ã¤Â½â€œÃ¥Â°ÂºÃ¥Â¯Â¸Ã¥â€™Å’Ã§Â±Â»Ã¥Å¾â€¹
@text-color: #333;
@main-color: #14c2b0;
@fs: 16px;
.page-width {
    width: 100%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}

body {
    height: 100%;
    .page-width;
    font-size: @fs;
    color: @text-color;
    background-color: #eff0f4;
    font-family: "Microsoft Yahei", Arial, sans-serif;
}

//Ã¥Å“Â¨ IE 9 Ã¥ÂÅ Ã¤Â½Å½Ã§â€°Ë†Ã¦Å“Â¬Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã¤Â¸ÂºÃ¤Â¸â€¹Ã¥Ë†â€”Ã¥â€¦Æ’Ã§Â´Â Ã¨Â®Â¾Ã§Â½Â®Ã¤Â¸Âº inline-block Ã§Å¡â€žÃ¦ËœÂ¾Ã§Â¤ÂºÃ¦â€“Â¹Ã¥Â¼Â 
audio,
canvas,
progress,
video {
    display: inline-block;
}

//Ã¥Å“Â¨ iOS 4-7 Ã¤Â¸Â­Ã¤Â¸ÂºÃ¦â€”Â  controlsÃ¥Â±Å¾Ã¦â‚¬Â§Ã§Å¡â€ž audio Ã¥â€¦Æ’Ã§Â´Â Ã¦Â·Â»Ã¥Å Â Ã¦Â­Â£Ã§Â¡Â®Ã§Å¡â€žÃ¦ËœÂ¾Ã§Â¤ÂºÃ¦â€“Â¹Ã¥Â¼Â
audio:not([controls]) {
    display: none;
    height: 0;
}

//Ã¥Å“Â¨ Chrome, Firefox Ã¥â€™Å’ Opera Ã¤Â¸Â­Ã¨Â®Â¾Ã§Â½Â®Ã¥Å¾â€šÃ§â€ºÂ´Ã¦â€“Â¹Ã¥Ââ€˜Ã¥Å¸ÂºÃ§ÂºÂ¿Ã¥Â¯Â¹Ã©Â½ÂÃ¦â€“Â¹Ã¥Â¼Â 
progress {
    vertical-align: baseline;
}

//Ã¥Å“Â¨ IE Ã¤Â¸Â­Ã¦Â·Â»Ã¥Å Â Ã¦Â­Â£Ã§Â¡Â®Ã§Å¡â€žÃ¦ËœÂ¾Ã§Â¤ÂºÃ¦â€“Â¹Ã¥Â¼Â
template,
[hidden] {
    display: none;
}


/* ===Ã©â€œÂ¾Ã¦Å½Â¥=== */

//Ã¥Å“Â¨ IE 10 Ã¤Â¸Â­Ã§Â§Â»Ã©â„¢Â¤Ã©â€œÂ¾Ã¦Å½Â¥Ã¨Â¢Â«Ã¦Â¿â‚¬Ã¦Â´Â»Ã¥ÂÅ½Ã§Å¡â€žÃ§ÂÂ°Ã¨â€°Â²Ã¨Æ’Å’Ã¦â„¢Â¯
//Ã¥Å“Â¨ iOS 8+ Ã¥â€™Å’ Safari 8+ Ã¤Â¸Â­Ã¥Ë†Â Ã©â„¢Â¤Ã©â€œÂ¾Ã¦Å½Â¥Ã¤Â¸â€¹Ã¥Ë†â€™Ã§ÂºÂ¿Ã¤Â½ÂÃ§Â½Â®Ã¥Â¤â€žÃ§Å¡â€žÃ§Â©ÂºÃ§â„¢Â½
a {
    color: @text-color;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
    &:focus,
    &:active,
    &:hover {
        //Ã¥Â½â€œÃ©â€œÂ¾Ã¦Å½Â¥Ã¥Â¤â€žÃ¤ÂºÅ½Ã§â€žÂ¦Ã§â€šÂ¹Ã£â‚¬ÂÃ¨Â¢Â«Ã¦Â¿â‚¬Ã¦Â´Â»Ã¥â€™Å’Ã©Â¼Â Ã¦Â â€¡Ã¦â€šÂ¬Ã¥ÂÅ“Ã¥â€¦Â¶Ã¤Â¸Å Ã¦â€”Â¶Ã¦Â¸â€¦Ã©â„¢Â¤Ã¨Â½Â®Ã¥Â»â€œ
        outline-width: 0;
        text-decoration: none;
    }
}


/* ===Ã¦â€“â€¡Ã¦Å“Â¬=== */

//Ã¥Å“Â¨ Firefox 39 Ã¥ÂÅ Ã¤Â¹â€¹Ã¥â€°ÂÃ§Å¡â€žÃ§â€°Ë†Ã¦Å“Â¬Ã¤Â¸Â­Ã§Â§Â»Ã©â„¢Â¤ abbr Ã¥â€¦Æ’Ã§Â´Â Ã§Å¡â€žÃ¤Â¸â€¹Ã¨Â¾Â¹Ã¦Â¡â€ 
//Ã¥Å“Â¨ Chrome, Edge, IE, Opera Ã¥â€™Å’ Safari Ã¤Â¸Â­Ã¤Â¸Âº abbr Ã¥â€¦Æ’Ã§Â´Â Ã¦Â·Â»Ã¥Å Â Ã¤Â¸â€¹Ã¥Ë†â€™Ã§ÂºÂ¿
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
}

//Ã¥Å“Â¨ Safari 6 Ã¤Â¸Â­Ã©ËœÂ²Ã¦Â­Â¢Ã¤Â¸â€¹Ã¥Ë†â€”Ã¥â€¦Æ’Ã§Â´Â Ã©â‚¬Å¡Ã¨Â¿â€¡Ã¥ÂÅ½Ã©ÂÂ¢Ã§Å¡â€žÃ¨Â§â€žÃ¥Ë†â„¢Ã©â€¡ÂÃ¥Â¤ÂÃ§Å¡â€žÃ¥Âºâ€Ã§â€Â¨Ã§Â¨â€¹Ã¥ÂºÂÃ§Å¡â€žÃ¥Â­â€”Ã¤Â½â€œÃ¤Â¸ÂºÃ§Â²â€”Ã¤Â½â€œ
b,
strong {
    font-weight: inherit;
}

//Ã¥Å“Â¨ Chrome, Edge Ã¥â€™Å’ Safari Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã¤Â¸ÂºÃ¤Â¸â€¹Ã¥Ë†â€”Ã¥â€¦Æ’Ã§Â´Â Ã¦Â·Â»Ã¥Å Â Ã¦Â­Â£Ã§Â¡Â®Ã§Å¡â€žÃ¥Â­â€”Ã¤Â½â€œÃ§Â²â€”Ã§Â»â€  
b,
strong {
    font-weight: bolder;
}

//Ã¥Å“Â¨ Android 4.3 Ã¥ÂÅ Ã¤Â¹â€¹Ã¥â€°ÂÃ§Â³Â»Ã§Â»Å¸Ã§Å¡â€žÃ¨Â®Â¾Ã¥Â¤â€¡Ã¤Â¸Â­Ã§Å¡â€žÃ¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸ÂºÃ¤Â¸â€¹Ã¥Ë†â€”Ã¥â€¦Æ’Ã§Â´Â Ã¦Â·Â»Ã¥Å Â Ã¥Â­â€”Ã¤Â½â€œÃ©Â£Å½Ã¦Â Â¼Ã¤Â¸ÂºÃ¦â€“Å“Ã¤Â½â€œ
dfn {
    font-style: italic;
}

//Ã¥Å“Â¨ Chrome, Firefox Ã¥â€™Å’ Safari Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã§ÂºÂ Ã¦Â­Â£Ã¥Å“Â¨Ã¥ÂÂ«Ã¦Å“â€° section Ã¥â€™Å’ article Ã¨Â¯Â­Ã¥Â¢Æ’Ã¤Â¸â€¹Ã§Å¡â€ž h1 Ã¥â€¦Æ’Ã§Â´Â Ã§Å¡â€žÃ¥Â­â€”Ã¤Â½â€œÃ¥Â°ÂºÃ¥Â¯Â¸Ã¥â€™Å’Ã¥Â¤â€“Ã¨Â¾Â¹Ã¨Â·Â
article h1,
section h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

//Ã¥Å“Â¨ IE 9 Ã¥ÂÅ Ã¤Â¹â€¹Ã¥â€°ÂÃ§Å¡â€žÃ¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã§â€°Ë†Ã¦Å“Â¬Ã¤Â¸Â­Ã¤Â¸Âº mark Ã¥â€¦Æ’Ã§Â´Â Ã¦Â·Â»Ã¥Å Â Ã¨Æ’Å’Ã¦â„¢Â¯Ã©Â¢Å“Ã¨â€°Â²Ã¥â€™Å’Ã¥Â­â€”Ã¤Â½â€œÃ©Â¢Å“Ã¨â€°Â² 
mark {
    background-color: #ff0;
    color: #000;
}

//Ã¤Â¸Âº small Ã¥â€¦Æ’Ã§Â´Â Ã¨Â®Â¾Ã§Â½Â®Ã¥Â­â€”Ã¤Â½â€œÃ¥Â°ÂºÃ¥Â¯Â¸Ã¤Â¸ÂºÃ§Â¦Â»Ã¥â€¦Â¶Ã¦Å“â‚¬Ã¨Â¿â€˜Ã§Å¡â€žÃ¥ÂÂ«Ã¦Å“â€° font-size Ã¥Â±Å¾Ã¦â‚¬Â§Ã§Å¡â€žÃ§Â¥â€“Ã¥â€¦Ë†Ã¥â€¦Æ’Ã§Â´Â Ã§Å¡â€žÃ¥â‚¬Â¼Ã§Å¡â€ž 80%
small {
    font-size: 80%;
}

//Ã©ËœÂ²Ã¦Â­Â¢ sub Ã¥â€™Å’ sup Ã¥â€¦Æ’Ã§Â´Â Ã¥Â½Â±Ã¥â€œÂÃ¨Â¡Å’Ã©Â«Ëœ 
.sub-sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    .sub-sup;
    bottom: -0.25em;
}

sup {
    .sub-sup;
    top: -0.5em;
}


/* ===Ã¥ÂµÅ’Ã¥â€¦Â¥Ã¥Â¼ÂÃ¥â€ â€¦Ã¥Â®Â¹=== */

//Ã¥Å“Â¨ IE 10 Ã¥ÂÅ Ã¦â€ºÂ´Ã¦â€”Â©Ã§Å¡â€žÃ¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã¥Â½â€œÃ¥â€ºÂ¾Ã§â€°â€¡Ã¥Â¤â€žÃ¤ÂºÅ½Ã©â€œÂ¾Ã¦Å½Â¥Ã¥â€ â€¦Ã©Æ’Â¨Ã¦â€”Â¶Ã§Â§Â»Ã©â„¢Â¤Ã¥â€ºÂ¾Ã§â€°â€¡Ã§Å¡â€žÃ¨Â¾Â¹Ã¦Â¡â€ 
img {
    border-style: none;
}

//Ã¥Å“Â¨ IE Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã¥Â½â€œ svg Ã¥â€¦Æ’Ã§Â´Â Ã¤Â¸ÂÃ¦ËœÂ¯Ã¦Â Â¹Ã¥â€¦Æ’Ã§Â´Â Ã¦â€”Â¶Ã©Å¡ÂÃ¨â€”ÂÃ¦ÂºÂ¢Ã¥â€¡Âº
svg:not(:root) {
    overflow: hidden;
}


/* ===Ã¥Ë†â€ Ã§Â»â€žÃ¥â€ â€¦Ã¥Â®Â¹=== */

//Ã§ÂºÂ Ã¦Â­Â£Ã¥Â­â€”Ã¤Â½â€œÃ¥Â°ÂºÃ¥Â¯Â¸Ã§Å¡â€žÃ§Â»Â§Ã¦â€°Â¿Ã¥â€™Å’Ã§Â¼Â©Ã¦â€Â¾(momospaceÃ¥Â­â€”Ã¤Â½â€œÃ¦ËœÂ¯linuxÃ§Â³Â»Ã§Â»Å¸Ã¤Â¸â€¹Ã§Å¡â€žÃ©Â»ËœÃ¨Â®Â¤Ã¥Â­â€”Ã¤Â½â€œ)
//Ã¥Å“Â¨Ã¦â€°â‚¬Ã¦Å“â€°Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã§ÂºÂ Ã¦Â­Â£Ã¥Â¥â€¡Ã¦â€¢Â°Ã§Å¡â€žÃ¤Â»Â¥ em Ã¤Â½Å“Ã¤Â¸ÂºÃ¥Ââ€¢Ã¤Â½ÂÃ§Å¡â€žÃ¥Â­â€”Ã¤Â½â€œÃ¥Â°ÂºÃ¥Â¯Â¸
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: @fs;
}

//Ã¥Å“Â¨ Firefox Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸â€¹Ã¤Â¸Âº hr Ã¥â€¦Æ’Ã§Â´Â Ã¦Â·Â»Ã¥Å Â Ã¦Â­Â£Ã§Â¡Â®Ã§Å¡â€žÃ¥â€™Å’Ã¦Â¨Â¡Ã¥Å¾â€¹Ã¥Â°ÂºÃ¥Â¯Â¸Ã¨Â®Â¡Ã§Â®â€”Ã¦â€“Â¹Ã¥Â¼Â
//Ã¥Å“Â¨ Edge Ã¥â€™Å’ IE Ã¤Â¸Â­ hr Ã¥â€¦Æ’Ã§Â´Â Ã¦ÂºÂ¢Ã¥â€¡ÂºÃ¦â€”Â¶Ã¤Â¸ÂÃ©Å¡ÂÃ¨â€”Â
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}


/* ===Ã¨Â¡Â¨Ã¥Ââ€¢=== */

//Ã¦â€Â¹Ã¥ÂËœÃ¥Â­â€”Ã¤Â½â€œÃ¥Â±Å¾Ã¦â‚¬Â§Ã¤Â¸ÂºÃ§Â»Â§Ã¦â€°Â¿
//Ã¥Å“Â¨ Firefox Ã¥â€™Å’ Safari Ã¤Â¸Â­Ã¤Â¸ÂºÃ¤Â¸â€¹Ã¥Ë†â€”Ã¥â€¦Æ’Ã§Â´Â Ã§Â§Â»Ã©â„¢Â¤Ã¥Â¤â€“Ã¨Â¾Â¹Ã¨Â·Â
button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
}

//Ã©â‚¬Å¡Ã¨Â¿â€¡Ã¤Â¹â€¹Ã¥â€°ÂÃ§Å¡â€žÃ¨Â§â€žÃ¥Ë†â„¢Ã¤Â¿Â®Ã¥Â¤Â optgroup Ã¥â€¦Æ’Ã§Â´Â Ã§Å¡â€žÃ¥Â­â€”Ã¤Â½â€œÃ§Â²â€”Ã§Â»â€ 
optgroup {
    font-weight: bold;
}

//Ã¦ÂºÂ¢Ã¥â€¡ÂºÃ¦â€”Â¶Ã¤Â¸ÂÃ©Å¡ÂÃ¨â€”Â ,Ã¨Å½Â·Ã¥Â¾â€”Ã§â€žÂ¦Ã§â€šÂ¹Ã¦â€”Â¶Ã¦Â²Â¡Ã¦Å“â€°Ã¨Â½Â®Ã¥Â»â€œ
button,
input {
    overflow: visible;
    &:focus {
        outline-width: 0;
    }
}

//Ã§Â§Â»Ã©â„¢Â¤Ã¦â€“â€¡Ã¦Å“Â¬Ã¥Â¤Â§Ã¥Â°ÂÃ¥â€ â„¢Ã§Å¡â€žÃ§Â»Â§Ã¦â€°Â¿
button,
select {
    text-transform: none;
}

//Ã¥Å“Â¨ Android 4 Ã§Â³Â»Ã§Â»Å¸Ã§â€°Ë†Ã¦Å“Â¬Ã¤Â¸Â­Ã©ËœÂ»Ã¦Â­Â¢Ã§Â Â´Ã¥ÂÂÃ¦Å“Â¬Ã¥Å“Â°Ã§Å¡â€žÃ©Å¸Â³Ã©Â¢â€˜Ã¨Â§â€ Ã©Â¢â€˜Ã¦Å½Â§Ã¤Â»Â¶Ã§Å¡â€žÃ©â€â„¢Ã¨Â¯Â¯
//Ã¥Å“Â¨ iOS Ã¥â€™Å’ Safari Ã¤Â¸Â­Ã§ÂºÂ Ã¦Â­Â£Ã¤Â¸ÂÃ¨Æ’Â½Ã§â€šÂ¹Ã¥â€¡Â»Ã§Å¡â€žÃ§Â±Â»Ã¥Å¾â€¹
button,
html [type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    background-color: transparent;    
}

//Ã¥Å“Â¨ Firefox Ã¤Â¸Â­Ã§Â§Â»Ã©â„¢Â¤Ã¥â€ â€¦Ã©Æ’Â¨Ã¨Â¾Â¹Ã¦Â¡â€ Ã¥â€™Å’Ã¥â€ â€¦Ã¥Â¡Â«Ã¥â€¦â€¦(firefoxÃ¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­buttonÃ¥â€¦Æ’Ã§Â´Â Ã§â€šÂ¹Ã¥â€¡Â»Ã¦â€”Â¶Ã¤Â¼Å¡Ã¥â€¡ÂºÃ§Å½Â°Ã¨â„¢Å¡Ã§ÂºÂ¿Ã¨Â¾Â¹Ã¦Â¡â€ )
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

//Ã§â€Â±Ã¥â€¦Ë†Ã¥â€°ÂÃ§Å¡â€žÃ¨Â§â€žÃ¥Ë†â„¢Ã¦ÂÂ¢Ã¥Â¤ÂÃ§â€žÂ¦Ã§â€šÂ¹Ã¦Â Â·Ã¥Â¼ÂÃ¨Â®Â¾Ã§Â½Â®
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

//Ã¨Â®Â¾Ã§Â½Â® fieldset Ã¥â€¦Æ’Ã§Â´Â Ã§Å¡â€ž border, margin Ã¥â€™Å’ padding Ã¥Â±Å¾Ã¦â‚¬Â§Ã§Å¡â€žÃ¥â‚¬Â¼ 
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

//Ã¥Å“Â¨ Edge Ã¥â€™Å’ IE Ã¤Â¸Â­Ã§ÂºÂ Ã¦Â­Â£Ã¦â€“â€¡Ã¦Å“Â¬Ã¥Å’â€¦Ã¨Â£Â¹
//Ã§ÂºÂ Ã¦Â­Â£Ã¥Å“Â¨ IE Ã¤Â¸Â­Ã¤Â»Å½ fieldset Ã¥â€¦Æ’Ã§Â´Â Ã§Â»Â§Ã¦â€°Â¿Ã¨â‚¬Å’Ã¦ÂÂ¥Ã§Å¡â€žÃ©Â¢Å“Ã¨â€°Â²Ã¥â‚¬Â¼
//Ã¥Å“Â¨Ã¦â€°â‚¬Ã¦Å“â€°Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã¥Â½â€œÃ¥Â¼â‚¬Ã¥Ââ€˜Ã¨â‚¬â€¦Ã¦Â¸â€¦Ã©â€ºÂ¶Ã¤Âºâ€  fieldset Ã¥â€¦Æ’Ã§Â´Â Ã§Å¡â€žÃ¥Â±Å¾Ã¦â‚¬Â§Ã¦â€”Â¶Ã¯Â¼Å’Ã§Â§Â»Ã©â„¢Â¤ padding Ã¥Â±Å¾Ã¦â‚¬Â§Ã§Å¡â€žÃ¥â‚¬Â¼Ã¯Â¼Å’Ã¤Â»Â¥Ã¤Â¾Â¿Ã¤Â»â€“Ã¤Â»Â¬Ã¨Æ’Â½Ã¦â€°Â¾Ã¥â€¡ÂºÃ¥â€¦Â¶Ã¥Â®Æ’Ã©â€â„¢Ã¨Â¯Â¯
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

//Ã¥Å“Â¨ IE Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã§Â§Â»Ã©â„¢Â¤Ã©Â»ËœÃ¨Â®Â¤Ã§Å¡â€žÃ¥Å¾â€šÃ§â€ºÂ´Ã¥Â¯Â¼Ã¨Ë†ÂªÃ¦ÂÂ¡
textarea {
    overflow: auto;
}

//Ã¥Å“Â¨ IE 10 Ã¥ÂÅ Ã¤Â¹â€¹Ã¥â€°ÂÃ§Å¡â€žÃ¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã¦â€Â¹Ã¥ÂËœÃ§â€ºâ€™Ã¦Â¨Â¡Ã¥Å¾â€¹Ã§Å¡â€žÃ©Â»ËœÃ¨Â®Â¤Ã¨Â§â€žÃ¥Ë†â„¢Ã¯Â¼Å’Ã¥ÂÂ³Ã¥Â°â€ Ã¥â€ â€¦Ã¥Â¡Â«Ã¥â€¦â€¦Ã¥â€™Å’Ã¨Â¾Â¹Ã¦Â¡â€ Ã¤Â¹Å¸Ã§Â®â€”Ã¥Å“Â¨Ã¥Â®Â½Ã©Â«ËœÃ¤Â¹â€¹Ã¥â€ â€¦ 
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

//Ã§ÂºÂ Ã¦Â­Â£Ã¥Å“Â¨ Chrome Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã©â‚¬â€™Ã¥Â¢Å¾Ã¥â€™Å’Ã©â‚¬â€™Ã¥â€¡ÂÃ¦Å’â€°Ã©â€™Â®Ã§Å¡â€žÃ¥â€¦â€°Ã¦Â â€¡Ã¦Â Â·Ã¥Â¼Â
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

//Ã§ÂºÂ Ã¦Â­Â£ Chrome Ã¥â€™Å’ Safari Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¥Â¥â€¡Ã¦â‚¬ÂªÃ§Å¡â€žÃ¥Â¤â€“Ã¨Â§â€šÃ¯Â¼Ë†Ã§Å“â€¹Ã¤Â¸Å Ã¥Å½Â»Ã¥Æ’ÂÃ¦â€“â€¡Ã¦Å“Â¬Ã¦Â¡â€ Ã¯Â¼â€°
//Ã§ÂºÂ Ã¦Â­Â£Ã¥Å“Â¨ Safari Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã§Å¡â€žÃ¨Â½Â®Ã¥Â»â€œÃ¦Â Â·Ã¥Â¼ÂÃ¯Â¼Ë†Ã¨Â®Â¾Ã§Â½Â®Ã¨Â½Â®Ã¥Â»â€œÃ§Å¡â€žÃ¥ÂÂÃ§Â§Â»Ã¯Â¼â€°
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

//Ã¥Å“Â¨ OS X Ã§Å¡â€ž Chrome Ã¥â€™Å’ Safari Ã¦ÂµÂÃ¨Â§Ë†Ã¥â„¢Â¨Ã¤Â¸Â­Ã¥Ë†Â Ã©â„¢Â¤Ã¥â€ â€¦Ã¥Â¡Â«Ã¥â€¦â€¦Ã¥â€™Å’Ã§Â§Â»Ã©â„¢Â¤Ã¦Å’â€°Ã©â€™Â®
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

//Ã§ÂºÂ Ã¦Â­Â£Ã¥Å“Â¨ Chrome, Edge Ã¥â€™Å’ Safari Ã¤Â¸Â­Ã¦â€“â€¡Ã¦Å“Â¬Ã¥ÂÂ Ã¤Â½ÂÃ§Â¬Â¦Ã¥Â±Å¾Ã¦â‚¬Â§Ã§Å¡â€žÃ¦Â Â·Ã¥Â¼Â 
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

//Ã§ÂºÂ Ã¦Â­Â£Ã¥Å“Â¨ iOS Ã¥â€™Å’ Safair Ã¤Â¸Â­Ã¥ÂÂ¯Ã§â€šÂ¹Ã¥â€¡Â»Ã§Â±Â»Ã¥Å¾â€¹Ã¤Â¸ÂÃ¨Æ’Â½Ã§â€šÂ¹Ã¥â€¡Â»Ã§Å¡â€žÃ¦Â Â·Ã¥Â¼Â
//Ã¦â€ºÂ´Ã¦â€Â¹Ã¥Â­â€”Ã¤Â½â€œÃ¥Â±Å¾Ã¦â‚¬Â§Ã¯Â¼Å’Ã¥Å“Â¨ Safari Ã¤Â¸Â­Ã¤Â»Â¥Ã§Â»Â§Ã¦â€°Â¿Ã§Å¡â€žÃ¦â€“Â¹Ã¥Â¼ÂÃ£â‚¬â€š
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}


/* ===Ã¨Â¡Â¨Ã¦Â Â¼=== */

//Ã¨Â®Â¾Ã§Â½Â®Ã¨Â¡Â¨Ã¦Â Â¼Ã§Å¡â€žÃ¨Â¾Â¹Ã¦Â¡â€ Ã¥ÂË†Ã¥Â¹Â¶Ã¤Â¸ÂºÃ¥Ââ€¢Ã¤Â¸â‚¬Ã§Å¡â€žÃ¨Â¾Â¹Ã¦Â¡â€ Ã¯Â¼Å’
//border-collapse Ã¥Â±Å¾Ã¦â‚¬Â§Ã¤Â¼Å¡Ã¥Â¿Â½Ã§â€¢Â¥ border-spacing(Ã§â€ºÂ¸Ã©â€šÂ»Ã¥Ââ€¢Ã¥â€¦Æ’Ã¦Â Â¼Ã¨Â¾Â¹Ã¦Â¡â€ Ã©â€”Â´Ã§Å¡â€žÃ¨Â·ÂÃ§Â¦Â») Ã¥Â±Å¾Ã¦â‚¬Â§Ã¥â€™Å’ empty-cells(Ã¦ËœÂ¯Ã¥ÂÂ¦Ã¥Å“Â¨Ã§Â©ÂºÃ¥Ââ€¢Ã¥â€¦Æ’Ã¦Â Â¼Ã¥â€˜Â¨Ã¥â€ºÂ´Ã§Â»ËœÃ¥Ë†Â¶Ã¨Â¾Â¹Ã¦Â¡â€ )
table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
}


/* ===Ã¥Ë†â€”Ã¨Â¡Â¨=== */

//Ã¨Â®Â¾Ã§Â½Â®Ã¥Ë†â€”Ã¨Â¡Â¨Ã§Å¡â€žÃ¦Â â€¡Ã¨Â®Â°Ã§Â±Â»Ã¥Å¾â€¹Ã¤Â¸ÂºÃ¦â€”Â  
ol,
ul {
    list-style-type: none;
}


/* ===Ã¥â€¦Â³Ã¤ÂºÅ½Ã¦ÂµÂ®Ã¥Å Â¨=== */

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    &:before {
        content: "";
        display: table;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

figure {
    overflow: hidden;
    & a {
        display: block;
    }
    & img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
}

label {
    margin-bottom: 0;
    cursor: pointer;
    &:hover {
        opacity: .8;
    }
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transition {
    transition: all .4s ease .1s;
}

.center-content(@width: 1200px) {
    display: block;
    width: @width;
    margin-right: auto;
    margin-left: auto;
}

.responsive-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.middle-img {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*validateé”™è¯¯æç¤º*/

label.error {
    color: #f00;
    display: block;
    margin-bottom: 5px;
}

#errorTips {
    display: block;
    color: #f00;
    visibility: hidden;
}

/*===é¦–é¡µ===*/
#homeHeader {
    @size: 50px;
    .page-width;
    height: @size;
    background-color: #495457;
    color: #fff;
    .clearfix;
    .logo {
        width: 160px;
        height: @size;
        position: relative;
        float: left;
        margin-left: 372px;
        img {
            display: block;
            width: 160px;
            height: 27px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .login {
        display: block;
        float: right;
        margin-right: 386px;
        width: 160px;
        height: @size;
        line-height: @size;
        position: relative;
        color: #fff;
        .transition;
        &:hover {
            color: #fff - #333;
        }
        img {
            display: block;
            width: 27px;
            height: 27px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);            
        }
        span {
            font-size: @fs;
            font-family: "é»‘ä½“";
            margin-left: 36px;
        }
    }
}
.home-bigpic {
    position: relative;
    width: 100%;
    max-width: 1920px;
    background: transparent url(../images/homebigpic.jpg) no-repeat center top / cover;
    img {
        display: block;
    }
    .downloadpic {
        position: absolute;
        top: 126px;
        left: 50%;
        transform: translateX(-50%);
        width: 430px;
        height: 176px;        
    }
}
#homeFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1920px;
    font-family: "é»‘ä½“";
    padding-top: 70px;
    padding-bottom: 32px;
    background-color: #fefefe;
    font-size: @fs - 4;
    text-align: center;
    small {
        color: #999;        
    }
    a {
        color: #999;
        padding-right: 7px;
        padding-left: 8px;
        border-left: 1px solid #999;
        &:hover {
            color: #999 - #333;
        }
        &:nth-of-type(2) {
            border-right: 1px solid #999;
        }
    }
}

/*===æ³¨å†Œé¡µé¢===*/
#registerHeader {
    @size: 60px;
    width: 100%;
    height: @size + 4;
    border-top: 4px solid #06c1ae;
    line-height: @size;
    background-color: #fff;
    .logo {
        width: 860px;
        margin-right: auto;
        margin-left: auto;
        height: @size;
        line-height: @size;
        font-size: @fs;
        color: #4a4956;
        span {
            color: @main-color;
            font-size: @fs + 4;
            margin-right: 5px;
        }
    }
}
.register-main{
    @w: 100%;
    width: 860px;
    margin: 70px auto;
    background-color: #fff;
    #registerNav {
        @h: 50px;
        ul {
            .clearfix;
            li {
                width: @w / 3;
                float: left;
                a {
                    display: block;
                    width: 100%;
                    height: @h;
                    line-height: @h;
                    text-align: center;
                    background-color: #fff;
                    color: #757575;
                    font-size: @fs - 2;
                    &:hover {
                        background-color: @main-color;
                        color: #fff;
                    }
                }
                &.ui-state-active {
                    a {
                        background-color: @main-color;
                        color: #fff;
                        cursor: default;                        
                    }
                }
            }
        }
    }
    #registerForm {
        padding-top: 70px;
        padding-bottom: 70px;
        > div {            
            width: 300px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}
.account-category {
    margin-bottom: 24px;
    .clearfix;
    label {
        display: block;
        float: left;
        font-size: @fs;
        color: #3c3c3c;
        &:first-of-type {
            margin-right: 25px;
        }
        input {
            margin-right: 2px;
        }
    }
}
#tabs-1 {
    .account-info {
        @size: 36px;
        > div {
            margin-bottom: 15px;
            input {
                display: block;
                font-size: 12px;
                color: #adadad;
            }
            &.normal {
                position: relative;
                z-index: 1;
                width: 100%;
                height: @size + 2;
                border: 1px solid #ebebeb;
                line-height: @size;
                i {
                    font-size: @fs;
                    font-weight: bold;
                    position: absolute;
                    left: 8px;
                    z-index: 3;
                }
                input {
                    width: 100%;
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    height: @size;
                    line-height: @size;
                    padding-left: 34px;
                }
            }
            &.img-code {
                .clearfix;
                input {
                    float: left;
                    width: 144px;
                    height: @size + 2;
                    line-height: @size;
                    border: 1px solid #ebebeb;
                    margin-right: 10px;
                    padding-right: 8px;
                    padding-left: 8px;
                }
                .get-img-code {
                    display: block;
                    width: 88px;
                    height: @size + 2;
                    float: left;
                    font-size: 12px;
                }
                .get-again {
                    display: inline-block;
                    padding-right: 10px;
                    padding-left: 10px;
                    font-size: 12px;
                    color: #008fe4;
                    line-height: @size + 2;
                }
            }
            &.code {
                .clearfix;
                @w: 180px;
                input {
                    float: left;
                    width: @w;
                    height: @size + 2;
                    line-height: @size;
                    border: 1px solid #ebebeb;
                    padding-right: 8px;
                    padding-left: 8px;                 
                }
                button {
                    display: block;
                    height: @size + 2;
                    border: 1px solid #ebebeb;
                    line-height: @size;
                    float: right;
                    font-size: @fs - 2;                    
                    width: calc(~"100% - @{w}");
                    text-align: center;
                    color: #adadad;
                    &:hover {
                        color: #adadad - #333;
                    }
                }
            }
            &.agreement {
                label {
                    font-size: @fs;
                    color: #373737;
                    input {
                        display: inline-block;
                        margin-right: 3px;
                    }
                }
                a {
                    color: #008fe4;
                    font-size: @fs;
                }
            }
        }
        .next-step {
            display: block;
            margin-top: 24px;
            width: 100%;
            height: @size + 4;
            line-height: @size + 4;
            text-align: center;
            font-size: @fs + 2;
            background-color: #06c1ae;
            color: #fff;
            &:hover {
                background-color: #06c1ae - #333;
            }
        }
    }
}

/*===第二步，关联账号===*/
#tabs-2 {    
    .connect-id {
        margin-bottom: 24px;
        .clearfix;
        label {
            display: block;
            float: left;
            font-size: @fs;
            color: #3c3c3c;
            &:first-of-type {
                margin-right: 25px;
            }
            input {
                margin-right: 2px;
            }
        }
    }
    .id-info {
        margin-bottom: 40px;
        .wechat-id {
            padding: 50px;
            background-color: #f5f5f5;
            text-align: center;
            img {
                display: block;
                width: 140px;
                height: 140px;
                margin: 0 auto 40px;
            }
            strong {
                font-size: @fs;
                color: #a0a0a0;
            }
        }    
        .alipay-id {
            @size: 36px;
            display: none;
            .normal {
                position: relative;
                z-index: 1;
                width: 100%;
                height: @size + 2;
                border: 1px solid #ebebeb;
                line-height: @size;
                &:first-of-type {
                    margin-bottom: 15px;
                }
                i {
                    font-size: @fs;
                    font-weight: bold;
                    position: absolute;
                    left: 8px;
                    z-index: 3;
                }
                input {
                    width: 100%;
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    height: @size;
                    line-height: @size;
                    padding-left: 34px;
                    font-size: @fs - 4;
                }                
            }
        }
    }
    .back-next {
        .clearfix;
        width: 100%;
        a {
            display: block;
            float: left;
            width: 47%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: @fs + 2;
            background-color: #06c1ae;
            color: #fff;
            &:first-of-type {
                margin-right: 6%;
            }
            &:hover {
                background-color: #06c1ae - #333;
            }            
        }
    }
}

/*===第三步，补全资质===*/
#tabs-3 {
    .addIndo {
        @size: 36px;
        > div {
            margin-bottom: 12px;
            > label {
                display: block;
                margin-bottom: 10px;
                color: #000;
                font-size: @fs - 2;
            }
            > input {
                display: block;
                width: 100%;
                height: @size + 2;
                border: 1px solid #ebebeb;
                line-height: @size;
                padding-right: 8px;
                padding-left: 8px;
                font-size: @fs - 4;
            }
            #city {
                display: block;
                width: 100%;
                height: @size + 2;
                border: 1px solid #ebebeb;
                line-height: @size;
                padding-right: 8px;
                padding-left: 8px;
                font-size: @fs - 4;
                select {
                    height: @size;
                    line-height: @size;                    
                }
            }
        }
    }
}

/*===登录===*/
#loginHeader {
    @size: 60px;
    width: 100%;
    height: @size + 4;
    border-top: 4px solid #06c1ae;
    line-height: @size;
    background-color: #fff;
    .logo {
        width: 860px;
        margin-right: auto;
        margin-left: auto;
        height: @size;
        line-height: @size;
        font-size: @fs;
        color: #4a4956;
        span {
            color: @main-color;
            font-size: @fs + 4;
            margin-right: 5px;
        }
    }
}
.login-main{
    width: 860px;
    margin: 70px auto;
    background-color: #fff;
}
.login-heading {
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: @fs;
    font-weight: normal;
    letter-spacing: 1em;
    padding-left: 1em;
    color: #fff;
    background-color: @main-color;
}
#loginForm {
    @w: 300px;
    @h: 46px; 
    padding-top: 70px;
    padding-bottom: 140px;
    > div {            
        width: @w;
        margin-right: auto;
        margin-left: auto;
    }
    .account-category {
        margin-bottom: 24px;
    }
    .account-info {
        label {
            display: block;
            width: 100%;
            height: @h;
            position: relative;
            margin-bottom: 15px;
            border: 1px solid #e1e1e1;
            i {
                position: absolute;
                top: 50%;
                left: 12px;
                transform: translateY(-50%);
                font-size: @fs;
                color: #b1b1b1;
            }
            input {
                display: block;
                width: 100%;
                height: 100%;
                line-height: 100%;
                font-size: @fs - 2;
                color: #b1b1b1;
                padding-left: 40px;
            }
        }
    }
    .login-submit {
        display: block;
        width: @w;
        height: @h;
        line-height: @h;
        background-color: @main-color;
        color: #fff;
        font-size: @fs;
        text-align: center;
        margin: 40px auto 0;
        .transition;
        &:hover {
            background-color: @main-color - #333;
        }
    }
}

/*===管理后台===*/
#header {
    @h: 60px;
    .page-width;
    height: @h;
    background-color: #3b3a48;
    .clearfix;
    .logo {
        .fl;
        margin-left: 22px;
        font-size: @fs + 8;
        color: #fff;
        height: @h;
        line-height: @h;
        span {
            font-size: @fs + 12;
            margin-right: 14px;
            color: @main-color;
        }
    }
    .user-exit {
        .fr;
        margin-right: 54px;
        height: @h;
        line-height: @h;
        span {
            display: inline-block;
            font-size: @fs - 4;
            color: #fcfcfd;
            vertical-align: middle;
        }
        .user {
            display: inline-block;
            vertical-align: middle;
            margin-right: 34px;
            font-size: 0;
            img {
                display: inline-block;
                width: @h / 2;
                height: @h / 2;
                vertical-align: middle;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
        .exit {
            display: inline-block;
            vertical-align: middle;
            font-size: 0;
            i {
                display: inline-block;
                vertical-align: middle;
                width: @h / 2;
                height: @h / 2;
                line-height: @h / 2;
                text-align: center;
                font-size: @fs + 2;
                background-color: #7f7e87;
                color: #fcfcfd;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
}
#main {
    .clearfix;
}
.menu {
    @h: 56px;
    .fl;
    width: 210px;
    background-color: #fff;
    h3 {
        width: 100%;
        padding-left: @h / 2;
        font-size: 16px;
        i {
            font-size: @fs;
            color: @main-color;
            margin-right: 10px;
        }
        &.ui-accordion-header-active,
        &.ui-status-hover {
            background-color: #14c2b0;
            border: #14c2b0;
            i {
                color: #fff;
            }
        }
    }
    div {
        a {
            display: block;
            height: 36px;
            line-height: 36px;
            padding-left: 28px;
            font-size: @fs - 2;
            .transition;
            &:hover,
            &.active {
                color: @main-color;
            }
        }
    }
}
.sidebar-r {
    .fl;
    max-width: calc(~"100% - 210px");
}
/*面包屑导航*/
.breadcrumbs {
    @size: 52px;
    position: relative;
    height: @size + 2;
    line-height: @size;
    border-bottom: 2px solid #eaebec;
    margin-bottom: 20px;
    ol {
        position: absolute;
        top: 0;
        left: 14px;
        height: @size;
        line-height: @size;        
        li {
            position: relative;
            display: inline-block;
            height: @size;
            line-height: @size;
            padding-left: 20px;
            color: #999;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-left: 25px;
                &:before {
                    content: "";
                }
            }
            &:before {
                content: ">";
                position: absolute;
                top: 0;
                right: -18px;
            }
            a {
                display: block;
                color: #666;
                padding-right: 5px;
                padding-left: 5px;
                &:hover {
                    color: @main-color;
                }
            }
        }
    }
}
.content {
    background-color: #fff;
    margin-left: 14px;
    padding: 24px 90px 90px 32px;
    .query-select {
        margin-bottom: 24px;
        label {
            display: block;
            height: 40px;
            line-height: 40px;
            font-size: @fs - 2;
            color: #8f8f8f;
            margin-bottom: 16px;
            input {
                display: inline-block;
                vertical-align: middle;
                color: #8f8f8f;
                border: 1px solid #ebebeb;
                width: 80%;
                min-width: 300px;
                max-width: calc(~"100% - 120px");
                height: 40px;
                line-height: 38px;
                padding-right: 20px;
                padding-left: 10px;
                margin-left: 58px;
                
            }
        }
    }
    .handle {
        margin-left: 120px;
        margin-bottom: 22px;
        button {
            display: inline-block;
            width: 108px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            background-color: @main-color;
            color: #fff;
            .transition;
            &:hover {
                background-color: @main-color - #333;
            }
            &:first-of-type {
                margin-right: 14px;
            }
        }
    }
}
.deal-table {
    margin-left: 120px;
}
/*===交易查询===*/
