@charset "utf-8";
/*
 * author: lixinjie
 * date: 20170501
 * 修改样式时，请修改对应less
 * */
/*让不认识下面元素的IE当做块级元素处理*/
details,
main,
summary {
  display: block;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
blockquote,
pre,
textarea,
fieldset,
figure,
ul,
ol,
dl,
dd,
menu {
  margin: 0;
}
input,
textarea,
button,
select,
option,
fieldset,
legend,
ul,
ol,
menu,
th,
td {
  padding: 0;
}
hr,
progress,
input,
textarea,
button,
select,
fieldset {
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/*===normalize.css===*/
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.page-width {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}
body {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  color: #333;
  background-color: #eff0f4;
  font-family: "Microsoft Yahei", Arial, sans-serif;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
/* ===链接=== */
a {
  color: #333;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}
a:focus,
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
/* ===文本=== */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
article h1,
section h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
.sub-sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
/* ===嵌入式内容=== */
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
/* ===分组内容=== */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 16px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
/* ===表单=== */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button:focus,
input:focus {
  outline-width: 0;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  background-color: transparent;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
/* ===表格=== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
}
/* ===列表=== */
ol,
ul {
  list-style-type: none;
}
/* ===关于浮动=== */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
figure {
  overflow: hidden;
}
figure a {
  display: block;
}
figure img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
label {
  margin-bottom: 0;
  cursor: pointer;
}
label:hover {
  opacity: .8;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.transition {
  transition: all .4s ease .1s;
}
.responsive-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.middle-img {
  display: block;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*validate错误提示*/
label.error {
  color: #f00;
  display: block;
  margin-bottom: 5px;
}
#errorTips {
  display: block;
  color: #f00;
  visibility: hidden;
}
/*===头部===*/
#homeHeader {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  height: 50px;
  background-color: #495457;
  color: #fff;
}
#homeHeader:before {
  content: "";
  display: table;
}
#homeHeader:after {
  content: "";
  display: table;
  clear: both;
}
#homeHeader .logo {
  width: 160px;
  height: 50px;
  position: relative;
  float: left;
  margin-left: 372px;
}
@media (max-width: 1199px) {
  #homeHeader .logo {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
}
#homeHeader .logo img {
  display: block;
  width: 160px;
  height: 27px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#homeHeader .login {
  display: block;
  float: right;
  margin-right: 386px;
  width: 160px;
  height: 50px;
  line-height: 50px;
  position: relative;
  color: #fff;
  transition: all .4s ease .1s;
}
@media (max-width: 1199px) {
  #homeHeader .login {
    display: none;
  }
}
#homeHeader .login:hover {
  color: #cccccc;
}
#homeHeader .login img {
  display: block;
  width: 27px;
  height: 27px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#homeHeader .login span {
  font-size: 16px;
  font-family: "黑体";
  margin-left: 36px;
}
#homeBody {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  background: transparent url(../images/homebigpic.jpg) no-repeat center top / cover;
}
#homeMain {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}
#homeMain .sidebar-left {
  display: inline-block;
  vertical-align: middle;
}
#homeMain .sidebar-left > img {
  display: block;
  width: 140px;
  height: 140px;
  margin: 0 auto 20px;
}
#homeMain .sidebar-left > .download {
  font-size: 0;
}
#homeMain .sidebar-left > .download a {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  margin-right: 6px;
}
#homeMain .sidebar-left > .download img {
  display: block;
  width: 24px;
  height: 24px;
  font-size: 14px;
}
#homeMain .sidebar-left > .download span {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  padding-left: 6px;
  border-left: 1px solid #fff;
  color: #fff;
}
#homeMain .sidebar-right {
  display: inline-block;
  vertical-align: middle;
  margin-left: 100px;
  width: 229px;
  height: 177px;
}
@media (max-width: 991px) {
  #homeMain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #homeMain .sidebar-left {
    display: block;
    margin: 0 auto 20px;
    text-align: center;
  }
  #homeMain .sidebar-left > img {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto 10px;
  }
  #homeMain .sidebar-right {
    display: block;
    margin: 0 auto;
    width: 190px;
    height: 148px;
  }
}
#homeFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1920px;
  font-family: "黑体";
  padding-top: 70px;
  padding-bottom: 32px;
  background-color: #fefefe;
  font-size: 12px;
  text-align: center;
}
@media (max-width: 1199px) {
  #homeFooter {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
#homeFooter small {
  color: #999;
}
#homeFooter a {
  color: #999;
  padding-right: 7px;
  padding-left: 8px;
  border-left: 1px solid #999;
}
#homeFooter a:hover {
  color: #666666;
}
#homeFooter a:nth-of-type(2) {
  border-right: 1px solid #999;
}
/*===注册页面头部===*/
#registerHeader {
  width: 100%;
  height: 64px;
  border-top: 4px solid #06c1ae;
  line-height: 60px;
  background-color: #fff;
}
#registerHeader .logo {
  width: 860px;
  margin-right: auto;
  margin-left: auto;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  color: #4a4956;
}
#registerHeader .logo span {
  color: #14c2b0;
  font-size: 20px;
  margin-right: 5px;
}
.register-main {
  width: 860px;
  margin: 70px auto;
  background-color: #fff;
}
.register-main #registerNav ul:before {
  content: "";
  display: table;
}
.register-main #registerNav ul:after {
  content: "";
  display: table;
  clear: both;
}
.register-main #registerNav ul li {
  width: 33.33333333%;
  float: left;
}
.register-main #registerNav ul li a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  color: #757575;
  font-size: 14px;
}
.register-main #registerNav ul li a:hover {
  background-color: #14c2b0;
  color: #fff;
}
.register-main #registerNav ul li.ui-state-active a {
  background-color: #14c2b0;
  color: #fff;
  cursor: default;
}
.register-main #registerForm {
  padding-top: 70px;
  padding-bottom: 70px;
}
.register-main #registerForm > div {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}
.account-category {
  margin-bottom: 24px;
}
.account-category:before {
  content: "";
  display: table;
}
.account-category:after {
  content: "";
  display: table;
  clear: both;
}
.account-category label {
  display: block;
  float: left;
  font-size: 16px;
  color: #3c3c3c;
}
.account-category label:first-of-type {
  margin-right: 25px;
}
.account-category label input {
  margin-right: 2px;
}
#tabs-1 .account-info > div {
  margin-bottom: 15px;
}
#tabs-1 .account-info > div input {
  display: block;
  font-size: 12px;
  color: #adadad;
}
#tabs-1 .account-info > div.normal {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 38px;
  border: 1px solid #ebebeb;
  line-height: 36px;
}
#tabs-1 .account-info > div.normal i {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 8px;
  z-index: 3;
}
#tabs-1 .account-info > div.normal input {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 36px;
  line-height: 36px;
  padding-left: 34px;
}
#tabs-1 .account-info > div.img-code:before {
  content: "";
  display: table;
}
#tabs-1 .account-info > div.img-code:after {
  content: "";
  display: table;
  clear: both;
}
#tabs-1 .account-info > div.img-code input {
  float: left;
  width: 144px;
  height: 38px;
  line-height: 36px;
  border: 1px solid #ebebeb;
  margin-right: 10px;
  padding-right: 8px;
  padding-left: 8px;
}
#tabs-1 .account-info > div.img-code .get-img-code {
  display: block;
  width: 88px;
  height: 38px;
  float: left;
  font-size: 12px;
}
#tabs-1 .account-info > div.img-code .get-again {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  color: #008fe4;
  line-height: 38px;
}
#tabs-1 .account-info > div.code:before {
  content: "";
  display: table;
}
#tabs-1 .account-info > div.code:after {
  content: "";
  display: table;
  clear: both;
}
#tabs-1 .account-info > div.code input {
  float: left;
  width: 180px;
  height: 38px;
  line-height: 36px;
  border: 1px solid #ebebeb;
  padding-right: 8px;
  padding-left: 8px;
}
#tabs-1 .account-info > div.code button {
  display: block;
  height: 38px;
  border: 1px solid #ebebeb;
  line-height: 36px;
  float: right;
  font-size: 14px;
  width: calc(100% - 180px);
  text-align: center;
  color: #adadad;
}
#tabs-1 .account-info > div.code button:hover {
  color: #7a7a7a;
}
#tabs-1 .account-info > div.agreement label {
  font-size: 16px;
  color: #373737;
}
#tabs-1 .account-info > div.agreement label input {
  display: inline-block;
  margin-right: 3px;
}
#tabs-1 .account-info > div.agreement a {
  color: #008fe4;
  font-size: 16px;
}
#tabs-1 .account-info .next-step {
  display: block;
  margin-top: 24px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  background-color: #06c1ae;
  color: #fff;
}
#tabs-1 .account-info .next-step:hover {
  background-color: #008e7b;
}
/*===第二步，关联账号===*/
#tabs-2 .connect-id {
  margin-bottom: 24px;
}
#tabs-2 .connect-id:before {
  content: "";
  display: table;
}
#tabs-2 .connect-id:after {
  content: "";
  display: table;
  clear: both;
}
#tabs-2 .connect-id label {
  display: block;
  float: left;
  font-size: 16px;
  color: #3c3c3c;
}
#tabs-2 .connect-id label:first-of-type {
  margin-right: 25px;
}
#tabs-2 .connect-id label input {
  margin-right: 2px;
}
#tabs-2 .id-info {
  margin-bottom: 40px;
}
#tabs-2 .id-info .wechat-id {
  padding: 50px;
  background-color: #f5f5f5;
  text-align: center;
}
#tabs-2 .id-info .wechat-id img {
  display: block;
  width: 140px;
  height: 140px;
  margin: 0 auto 40px;
}
#tabs-2 .id-info .wechat-id strong {
  font-size: 16px;
  color: #a0a0a0;
}
#tabs-2 .id-info .alipay-id {
  display: none;
}
#tabs-2 .id-info .alipay-id .normal {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 38px;
  border: 1px solid #ebebeb;
  line-height: 36px;
}
#tabs-2 .id-info .alipay-id .normal:first-of-type {
  margin-bottom: 15px;
}
#tabs-2 .id-info .alipay-id .normal i {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  left: 8px;
  z-index: 3;
}
#tabs-2 .id-info .alipay-id .normal input {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 36px;
  line-height: 36px;
  padding-left: 34px;
  font-size: 12px;
}
#tabs-2 .back-next {
  width: 100%;
}
#tabs-2 .back-next:before {
  content: "";
  display: table;
}
#tabs-2 .back-next:after {
  content: "";
  display: table;
  clear: both;
}
#tabs-2 .back-next a {
  display: block;
  float: left;
  width: 47%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  background-color: #06c1ae;
  color: #fff;
}
#tabs-2 .back-next a:first-of-type {
  margin-right: 6%;
}
#tabs-2 .back-next a:hover {
  background-color: #008e7b;
}
/*===第三步，补全资质===*/
#tabs-3 .addIndo > div {
  margin-bottom: 12px;
}
#tabs-3 .addIndo > div > label {
  display: block;
  margin-bottom: 10px;
  color: #000;
  font-size: 14px;
}
#tabs-3 .addIndo > div > input {
  display: block;
  width: 100%;
  height: 38px;
  border: 1px solid #ebebeb;
  line-height: 36px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 12px;
}
#tabs-3 .addIndo > div #city {
  display: block;
  width: 100%;
  height: 38px;
  border: 1px solid #ebebeb;
  line-height: 36px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 12px;
}
#tabs-3 .addIndo > div #city select {
  height: 36px;
  line-height: 36px;
}
/*===登录===*/
#loginHeader {
  width: 100%;
  height: 64px;
  border-top: 4px solid #06c1ae;
  line-height: 60px;
  background-color: #fff;
}
#loginHeader .logo {
  width: 860px;
  margin-right: auto;
  margin-left: auto;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  color: #4a4956;
}
#loginHeader .logo span {
  color: #14c2b0;
  font-size: 20px;
  margin-right: 5px;
}
.login-main {
  width: 860px;
  margin: 70px auto;
  background-color: #fff;
}
.login-heading {
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1em;
  padding-left: 1em;
  color: #fff;
  background-color: #14c2b0;
}
#loginForm {
  padding-top: 70px;
  padding-bottom: 140px;
}
#loginForm > div {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}
#loginForm .account-category {
  margin-bottom: 24px;
}
#loginForm .account-info label {
  display: block;
  width: 100%;
  height: 46px;
  position: relative;
  margin-bottom: 15px;
  border: 1px solid #e1e1e1;
}
#loginForm .account-info label i {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #b1b1b1;
}
#loginForm .account-info label input {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-size: 14px;
  color: #b1b1b1;
  padding-left: 40px;
}
#loginForm .login-submit {
  display: block;
  width: 300px;
  height: 46px;
  line-height: 46px;
  background-color: #14c2b0;
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin: 40px auto 0;
  transition: all .4s ease .1s;
}
#loginForm .login-submit:hover {
  background-color: #008f7d;
}
/*===管理后台===*/
#header {
  width: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  height: 60px;
  background-color: #3b3a48;
}
#header:before {
  content: "";
  display: table;
}
#header:after {
  content: "";
  display: table;
  clear: both;
}
#header .logo {
  float: left;
  margin-left: 22px;
  font-size: 24px;
  color: #fff;
  height: 60px;
  line-height: 60px;
}
#header .logo span {
  font-size: 28px;
  margin-right: 14px;
  color: #14c2b0;
}
#header .user-exit {
  float: right;
  margin-right: 54px;
  height: 60px;
  line-height: 60px;
}
#header .user-exit span {
  display: inline-block;
  font-size: 12px;
  color: #fcfcfd;
  vertical-align: middle;
}
#header .user-exit .user {
  display: inline-block;
  vertical-align: middle;
  margin-right: 34px;
  font-size: 0;
}
#header .user-exit .user img {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
}
#header .user-exit .exit {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
#header .user-exit .exit i {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  background-color: #7f7e87;
  color: #fcfcfd;
  border-radius: 50%;
  margin-right: 10px;
}
#main:before {
  content: "";
  display: table;
}
#main:after {
  content: "";
  display: table;
  clear: both;
}
.menu {
  float: left;
  width: 210px;
  background-color: #fff;
}
.menu h3 {
  width: 100%;
  padding-left: 28px;
  font-size: 16px;
}
.menu h3 i {
  font-size: 16px;
  color: #14c2b0;
  margin-right: 10px;
}
.menu h3.ui-accordion-header-active,
.menu h3.ui-status-hover {
  background-color: #14c2b0;
  border: #14c2b0;
}
.menu h3.ui-accordion-header-active i,
.menu h3.ui-status-hover i {
  color: #fff;
}
.menu div a {
  display: block;
  height: 36px;
  line-height: 36px;
  padding-left: 28px;
  font-size: 14px;
  transition: all .4s ease .1s;
}
.menu div a:hover,
.menu div a.active {
  color: #14c2b0;
}
.sidebar-r {
  float: left;
  width: calc(100% - 210px);
  min-width: 400px;
}
/*面包屑导航*/
.breadcrumbs {
  position: relative;
  height: 54px;
  line-height: 52px;
  border-bottom: 2px solid #eaebec;
  margin-bottom: 20px;
}
.breadcrumbs ol {
  position: absolute;
  top: 0;
  left: 14px;
  height: 52px;
  line-height: 52px;
}
.breadcrumbs ol li {
  position: relative;
  display: inline-block;
  height: 52px;
  line-height: 52px;
  padding-left: 20px;
  color: #999;
}
.breadcrumbs ol li:first-child {
  padding-left: 0;
}
.breadcrumbs ol li:last-child {
  padding-left: 25px;
}
.breadcrumbs ol li:last-child:before {
  content: "";
}
.breadcrumbs ol li:before {
  content: ">";
  position: absolute;
  top: 0;
  right: -18px;
}
.breadcrumbs ol li a {
  display: block;
  color: #666;
  padding-right: 5px;
  padding-left: 5px;
}
.breadcrumbs ol li a:hover {
  color: #14c2b0;
}
.content {
  background-color: #fff;
  margin-left: 14px;
  padding: 24px 90px 90px 32px;
}
/*===交易查询===*/
.query-select {
  margin-bottom: 24px;
}
.query-select label {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #8f8f8f;
  margin-bottom: 16px;
}
.query-select label input {
  display: inline-block;
  vertical-align: middle;
  color: #8f8f8f;
  border: 1px solid #ebebeb;
  width: 80%;
  min-width: 300px;
  max-width: calc(100% - 120px);
  height: 40px;
  line-height: 38px;
  padding-right: 20px;
  padding-left: 10px;
  margin-left: 58px;
}
.handle {
  margin-left: 120px;
  margin-bottom: 22px;
}
.handle button {
  display: inline-block;
  width: 108px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #14c2b0;
  color: #fff;
  transition: all .4s ease .1s;
}
.handle button:hover {
  background-color: #008f7d;
}
.handle button:first-of-type {
  margin-right: 14px;
}
.deal-table {
  margin-left: 120px;
}
/*===交易分析图===*/
.chart-select strong {
  margin-right: 42px;
  font-size: 14px;
  color: #858585;
}
.chart-select .time {
  display: inline-block;
  vertical-align: middle;
  margin-right: 42px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  font-size: 0;
}
.chart-select .time .week,
.chart-select .time .month {
  z-index: 1;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
.chart-select .time .week label,
.chart-select .time .month label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 34px;
  line-height: 34px;
  z-index: 3;
  opacity: 0;
  margin: auto;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
}
.chart-select .time .week {
  border-right: 1px solid #ebebeb;
}
.chart-select .time input {
  display: inline-block;
  vertical-align: middle;
  /*让默认的单选样式的圆圈和“本周”“本月”的文本没有高差，看起来在同一水平线*/
  height: 26px;
  line-height: 26px;
  margin: 0;
  /*清除浏览器默认的外边距*/
}
.chart-select .time span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 26px;
  line-height: 26px;
  z-index: 2;
  margin: auto;
  display: inline-block;
  text-align: center;
  color: #858585;
  font-size: 14px;
}
.chart-select .time span.active {
  color: #14c2b0;
}
.chart-select .month-select {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  color: #858585;
}
.chart-select .month-select span {
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.chart-select .month-select select {
  width: 160px;
  height: 34px;
  line-height: 32px;
  border: 1px solid #ebebeb;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 14px;
  color: #858585;
}
.chart-select .month-select select option {
  color: #858585;
  padding-left: 10px;
  height: 24px;
  line-height: 24px;
}
.chart-select .chart-btn {
  display: block;
  width: 108px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #14c2b0;
  color: #fff;
  margin-left: 118px;
  margin-top: 30px;
  transition: all .4s ease .1s;
}
.chart-select .chart-btn:hover {
  background-color: #008f7d;
}
#chart {
  margin-top: 40px;
}
/*===账户管理===*/
/*===修改密码===*/
.change-pwd-form {
  background-color: #fff;
  padding: 24px 90px 90px 32px;
  margin-left: 14px;
}
.change-pwd-form > div {
  margin-bottom: 16px;
  font-size: 0;
}
.change-pwd-form > div label {
  display: inline-block;
  vertical-align: middle;
  width: 116px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #8f8f8f;
}
.change-pwd-form > div input {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ebebeb;
  width: 60%;
  min-width: 300px;
  max-width: calc(100% - 300px);
  height: 40px;
  line-height: 38px;
  padding-right: 20px;
  padding-left: 10px;
  color: #8f8f8f;
  font-size: 14px;
}
.change-pwd-form > div .get-sms-verification {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  width: 100px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background-color: #666;
  color: #fff;
  font-size: 14px;
  border-radius: 2px;
  transition: all .4s ease .1s;
}
.change-pwd-form > div .get-sms-verification:hover {
  background-color: #333;
}
.change-pwd-form .code-status {
  margin-left: 116px;
  font-size: 14px;
  color: #8f8f8f;
  visibility: hidden;
}
.change-pwd-form .change-pwd-submit {
  margin-top: 16px;
  margin-left: 116px;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #14c2b0;
  color: #fff;
  border-radius: 2px;
  transition: all .4s ease .1s;
}
.change-pwd-form .change-pwd-submit:hover {
  background-color: #008f7d;
}
/*===账户维护===*/
.maintenance-form {
  background-color: #f8f9fb;
  padding: 24px 90px 90px 32px;
  margin-left: 14px;
}
.maintenance-form > div {
  margin-bottom: 16px;
  font-size: 0;
}
.maintenance-form > div label {
  display: inline-block;
  vertical-align: middle;
  width: 116px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #8f8f8f;
}
.maintenance-form > div input {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ebebeb;
  width: 60%;
  min-width: 300px;
  max-width: calc(100% - 300px);
  height: 40px;
  line-height: 38px;
  padding-right: 20px;
  padding-left: 10px;
  color: #8f8f8f;
  font-size: 14px;
}
.maintenance-form > div select {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ebebeb;
  height: 40px;
  line-height: 38px;
  padding-right: 20px;
  padding-left: 10px;
  color: #8f8f8f;
  font-size: 14px;
}
.maintenance-form > div select option {
  padding-top: 4px;
  padding-bottom: 4px;
}
.maintenance-form .img-upload {
  margin-left: 116px;
}
.maintenance-form .img-upload:before {
  content: "";
  display: table;
}
.maintenance-form .img-upload:after {
  content: "";
  display: table;
  clear: both;
}
.maintenance-form .img-upload > div {
  z-index: 2;
  position: relative;
  width: 200px;
  height: 300px;
  float: left;
  margin-right: 44px;
}
.maintenance-form .img-upload > div input {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
}
.maintenance-form .img-upload > div .img {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 14px;
  color: #8f8f8f;
}
.maintenance-form .img-upload > div .img img {
  display: block;
  width: 200px;
  height: 146px;
  margin-bottom: 10px;
}
.maintenance-form .img-upload > div .jFiler-theme-default .jFiler-input {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  opacity: 0;
}
.maintenance-form .img-upload > div .jFiler-items.jFiler-row {
  margin-top: 200px;
}
.maintenance-form .mainterance-submit {
  margin-top: 16px;
  margin-left: 116px;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #14c2b0;
  color: #fff;
  border-radius: 2px;
  transition: all .4s ease .1s;
}
.maintenance-form .mainterance-submit:hover {
  background-color: #008f7d;
}
/*# sourceMappingURL=tuobei.css.map */